:root {
    /* "ripped" color scheme from https://hookagency.com */
    --dark-blue: #360E95;
    --light-blue: #71CDC0;
    --yellow: #F4D83D;
    --pink: #F2BFC8;
    --red: #E87463;

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Roboto Slab', serif;

    --font-size: 1rem;
    --line-height: 1.5;

    --border-radius: 0.5rem;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --transition: 0.3s ease-in-out;

    --max-width: 1200px;

    --padding: 1rem;
    --margin: 1rem;

    
}

body {
    height: 100vh;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-family: var(--font-primary);
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin: 0;
    padding: 0;
}

.content {
    min-height: 100%;
}

header {
    display: flex;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: var(--padding);
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hamburger {
    /* hamburger will display initially as this is a mobile first site */
    display: block;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    transition: var(--transition);
    z-index: 100;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger span {
    background-color: var(--light-blue);
    display: block;
    height: 0.2rem;
    margin: 0.5rem 0;
    transition: var(--transition);
    width: 2rem;
}

.hamburger span:nth-child(2) {
    width: 1.5rem;
}

.hamburger span:nth-child(3) {
    width: 1rem;
}

.hamburger:hover span {
    background-color: var(--pink);
}

.logo-text {
    font-size: 2rem;
    margin: 0;
    padding-right: 2rem;
}

.nav-list {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: var(--transition);
}

.nav-list li {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

.nav-list li a {
    color: var(--light-blue);
    text-decoration: none;
    font-size: 2rem;
    transition: var(--transition);
}

.nav-list li a:hover {
    color: var(--pink);
}

.nav-list.show {
    transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
    transform: translateY(.75rem) rotate(45deg);
    width: 2rem;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-.6rem) rotate(-45deg);
    width: 2rem;
}

/* set media queries */

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    header {
        padding: 0 var(--padding);
    }


    .nav-list {
        height: auto;
        width: auto;
        position: relative;
        background-color: transparent;
        top: -90px;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transform: translateX(0);
        transform: translateY(35px);
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-list li {
        margin: 0 1rem;
    }

    .nav-list li a {
        font-size: 1rem;
    }

    .nav-list li a:hover {
        color: var(--pink);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--margin);
    padding: var(--padding);
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--margin);
    padding: var(--padding);
    margin: 0 auto;
}

.main-content .title {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    margin: var(--margin);
    padding: var(--padding);
    margin: 0 auto;
    text-align: center;
}

.main-content .title em {
    color: var(--dark-blue);
    font-style: normal;
    font-weight: lighter;
}

.main-content .title span {
    color: var(--dark-blue);
    font-weight: bold;

}

.main-content .description{
    font-family: var(--font-secondary);
    font-size: 1rem;
    margin: var(--margin);
    padding: var(--padding);
    margin: 0 auto;
}

.splash-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--margin);
    padding: var(--padding);
}

.splash-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: var(--margin);
    padding: var(--padding);
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .main-content .title {
        font-size: 2rem;
    }

    .main-content .description {
        font-size: 1.5rem;
    }

    .splash-image {
        width: 50%;
    }
}

footer {
    margin-top: -50px;
    width: 100%;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: var(--padding);
    margin: var(--margin);
    margin: 0 auto;
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-content .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-content .socials li {
    margin: 0 1rem;
    list-style: none;
}

.footer-content .socials li a {
    color: var(--light-blue);
    font-size: 1.5rem;
    transition: var(--transition);
}

.footer-content .socials li a:hover {
    color: var(--pink);
}

@media screen and (min-width: 768px) {
    .footer-content {
        flex-direction: row;
    }
}