:root {
  /* "ripped" color scheme from https://hookagency.com */
  --dark-blue: #360e95;
  --light-blue: #71cdc0;
  --yellow: #f4d83d;
  --pink: #f2bfc8;
  --red: #e87463;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Slab", serif;

  --font-size: 1rem;
  --line-height: 1.5;

  --border-radius: 0.5rem;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --transition: 0.3s ease-in-out;

  --max-width: 1200px;

  --padding: 1rem;
  --margin: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  min-height: 100%;
}

header {
  display: flex;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  padding: var(--padding);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 350px;
}

.hamburger {
  /* hamburger will display initially as this is a mobile first site */
  display: block;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  transition: var(--transition);
  z-index: 100;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger span {
  background-color: var(--light-blue);
  display: block;
  height: 0.2rem;
  margin: 0.5rem 0;
  transition: var(--transition);
  width: 2rem;
}

.hamburger span:nth-child(2) {
  width: 1.5rem;
}

.hamburger span:nth-child(3) {
  width: 1rem;
}

.hamburger:hover span {
  background-color: var(--pink);
}

.logo-text {
  font-size: 2rem;
  margin: 0;
  padding-right: 2rem;
}

.nav-list {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: 99;
}

.nav-list li {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.nav-list li a {
  color: var(--light-blue);
  text-decoration: none;
  font-size: 2rem;
  transition: var(--transition);
}

.nav-list li a:hover {
  color: var(--pink);
}

.nav-list li .active {
  color: var(--yellow);
}

.nav-list.show {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  transform: translateY(0.75rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-0.6rem) rotate(-45deg);
  width: 2rem;
}

/* set media queries */

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  header {
    padding: 0 var(--padding);
  }

  .nav-list {
    height: auto;
    width: auto;
    position: relative;
    background-color: transparent;
    top: -90px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: translateX(0);
    transform: translateY(35px);
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-list li {
    margin: 0 1rem;
  }

  .nav-list li a {
    font-size: 1rem;
  }

  .nav-list li a:hover {
    color: var(--pink);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.main-content .title {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

.main-content .title .quote {
  color: var(--dark-blue);
  font-style: normal;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.main-content .title .attribution {
  color: var(--dark-blue);
  font-weight: lighter;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.main-content .description {
  font-family: var(--font-secondary);
  font-size: 1rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
}

.splash-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
  padding: var(--padding);
}

.splash-image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .main-content .title {
    font-size: 2rem;
  }

  .main-content .description {
    font-size: 1.5rem;
  }

  .splash-image {
    width: 50%;
  }
}

footer {
  margin-top: -50px;
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  padding: var(--padding);
  margin: var(--margin);
  margin: 0 auto;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-content .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-content .socials li {
  margin: 0 1rem;
  list-style: none;
}

.footer-content .socials li a {
  color: var(--light-blue);
  font-size: 1.5rem;
  transition: var(--transition);
}

.footer-content .socials li a:hover {
  color: var(--pink);
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
}

/* Portfolio Styling */

.portfolio-title {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  min-width: 400px;
}

.portfolio-item {
  position: relative;
  margin: var(--margin);
  padding: var(--padding);

  background-color: var(--dark-blue);
  color: var(--light-blue);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.portfolio-item .card-title {
  font-family: var(--font-secondary);
  font-size: 2rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
}

.portfolio-item .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
}

.portfolio-item .buttons a {
  margin: 0 1rem;
  padding: 0.1rem;
  border-radius: var(--border-radius);
  color: var(--light-blue);
  font-size: 1rem;
  transition: var(--transition);
  text-decoration: none;
  background-color: var(--pink);
  color: var(--dark-blue);
}

.portfolio-item .buttons a:hover {
  background-color: var(--red);
}

.portfolio-item p {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .portfolio-item {
    width: 40%;
    margin: 1rem;
  }

  .portfolio-item .buttons a {
    margin: 0;
    font-size: 1.5rem;
    padding: 0.5rem;
    white-space: nowrap;
  }
}

/* portfolio-detail styling */

.project-title {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

.project-subtitle {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  margin: 0 auto;
  padding: var(--padding);
}

.project-description {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  text-align: left;
  margin: var(--margin);
}

.project-link {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  text-align: center;
  padding: var(--padding);
  /* add a bottom margin */
  margin-bottom: 2rem;
  background-color: var(--pink);
  text-decoration: none;
}

.project-link:hover {
  background-color: var(--red);
}

@media screen and (min-width: 768px) {
  .project-title {
    font-size: 3rem;
  }

  .project-subtitle {
    font-size: 2rem;
  }

  .project-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .project-image {
    width: 50%;
  }

  .project-description {
    font-size: 2rem;
  }

  .project-link {
    font-size: 2rem;
  }
}

/* blog styling */

.blog-title {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
}

.blog-post {
  width: 100%;
  height: 750px;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: var(--margin);
  padding: var(--padding);
}

.blog-post-title {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

.blog-post-meta {
  font-family: var(--font-secondary);
  font-size: 1rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

.blog-post-meta a {
  color: var(--pink);
  text-decoration: none;
}

.blog-post-meta a:hover {
  color: var(--red);
}

.blog-post p {
  font-family: var(--font-secondary);
  font-size: 1rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: left;
}

/* styling for contact page */

.contact-title {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
  padding: var(--padding);
  margin: 0 auto;
}

input,
textarea {
  width: 350px;
  position: relative;
  display: block;
  background-color: #f4f7fb;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  outline-color: #9e9e9e;
}

input {
  height: 40px;
  padding: 0px 15px;
}

textarea {
  min-height: 140px;
  max-height: 180px;
  padding: 15px;
  resize: none;
}

.valid_info_name,
.valid_info_email,
.valid_info_message {
  display: inline-block;
  font-size: 13px;
  margin: 5px 2px;
}

.valid {
  border: 2px solid green;
  outline-color: green;
}

.invalid {
  border: 2px solid red;
  outline-color: red;
}

.btn {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

#form-submit {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background: rgb(219, 138, 222);
  background: linear-gradient(
    -145deg,
    rgba(219, 138, 222, 1) 0%,
    rgba(246, 191, 159, 1) 100%
  );
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  transition: all 0.3s;
}

#form-submit:disabled {
  border: 1px solid #9e9e9e;
  background: transparent;
  color: #9e9e9e;
  transition: none;
  transform: none;
  cursor: default;
}

#form-submit:hover:disabled {
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  background: transparent;
  transition: none;
  transform: none;
  cursor: default;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
